<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Files-ravikailash</title>
	<link rel="stylesheet" href="./../assets/styles.css">
	<link rel="stylesheet" href="./../assets/bootstrap-3.3.5/css/bootstrap.css">
</head>
<body>
	
	<div class="navigation">
		<a href="#"><img class="profilePicture" src="./../assets/uploads/profilepics/raviraj.png" alt="./../assets/img/male.png" onclick="openNav()"></a>	
		<div class="navbar-icons">
			<a href="profile.html"><img class="nav-icon nav-primary" src="./../assets/img/home_blk.png" alt="Profile"></a> <br>
			<a href="dashboard.html"><img class="nav-icon nav-primary" src="./../assets/img/dashboard_blk.png" alt="Dashboard"></a> <br>
			<a href="sessions.html"><img class="nav-icon nav-primary" src="./../assets/img/session_blk.png" alt="Sessions"></a> <br>
			<a href="files.html"><img class="nav-icon nav-primary" src="./../assets/img/files_blk.png" alt="Files"></a> <br>
			<a href="settings.html"><img class="nav-icon nav-primary" src="./../assets/img/settings_blk.png" alt="Settings"></a> <br>
			
			<a href="login.html"><img class="nav-icon nav-secondary" src="./../assets/img/logout_blk.png" alt="Log out"></a> <br>
		</div>
	</div>		
	
	<div class="index-logo">
		<div> Peer<span>Coding</span> </div>
	</div>
	
	<div class="dashboard-container">
		<p>Page is being built.</p> 
		<span style="color: green">Files</span> will come soon.
	</div>

</body>
</html>