<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Set New Password-PeerCoding</title>
	<link rel="stylesheet" href="./../assets/styles.css">
</head>
<body>
	<div class="container default-container">
		
		<div id="index-logo">
			<div> Peer<span>Coding</span> </div>
		</div>
		
		<div class="forms login-form">
			<h3>Set Password</h3>
			<form method="post" action="login.html">
				<input type="text" name="username" placeholder='New password'>
				<br>
				<input type="password" name="password" placeholder="Retype new password">
				<br>
				<input type="submit" value="Log in">
			</form>
		</div>
	</div>
	
</body>
</html>