<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register-PeerCoding</title>
	<link rel="stylesheet" href="./../assets/styles.css">
</head>
<body>
	<div class="container register-container">
		
		<div id="index-logo">
			<div> Peer<span>Coding</span> </div>
		</div>
		
		<div class="forms register-form">
			<h3>Sign Up</h3>
			<form method="post" action="login.html">
				<input type="text" name="firstname" placeholder='First Name'> <br>
				<input type="text" name="lastname" placeholder='Last Name'> <br>
				<input type="text" name="email" placeholder='Email'> <br>
				<input type="text" name="username" placeholder='Username'> <br>
				<input type="password" name="password" placeholder="Password"> <br>
				<input type="password" name="confirm" placeholder="Confirm Password"> 
				<br>
				<input type="submit" value="Log in">
			</form>
		</div>
	</div>
	
</body>
</html>
