<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reset Password-PeerCoding</title>
	<link rel="stylesheet" href="./../assets/styles.css">
</head>
<body>
	<div class="container default-container">
		
		<div id="index-logo">
			<div> Peer<span>Coding</span> </div>
		</div>
		
		<div class="forms login-form">
			<h3>Recovery Email</h3>
			<form method="post" action="new_password.html">
				<input type="text" name="username" placeholder='Username'>
				<input type="submit" value="Log in">
			</form>
		</div>
	</div>
	
</body>
</html>