body {
	background: white;
	overflow-y: scroll;
	overflow-x: scroll;
}

.container {
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    border: 1px solid green;
	padding: 30px 40px;
    font-size: 20px;
    text-align: center;
}

.default-container {
	width: 350px;
    height: 370px;
}

.register-container {
	width: 350px;
    height: 490px;
}

.dashboard-container {
	top: 5%;
	left: 65px;
    display: block;
    position: absolute;
    border: 1px solid green;
	padding: 20px 20px;
	margin-left: 10px;
    font-size: 20px;
    text-align: center;
	width: 90%;
    height: 90%;
}

#index-logo {
	background: transparent;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
}

#index-logo span {
	font-size: 37px;
	color: #5379fa !important;
}

.index-logo {
	background: transparent;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	width: 20%;
	height: 5%;
	text-align: center;
	float: right;
}

.index-logo span {
	font-size: 27px;
	color: #5379fa !important;
}

.forms{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
/*	border: 1px solid blue;*/
	background: transparent;
}

.login-form{
	width: 350px;
	height: 400px;
	padding: 80px 40px;
}

.register-form{
	width: 350px;
	height: 420px;
	padding: 20px 40px;
}

.forms h3{
	margin: 0;
	padding: 0 0 20px;
	color: #000;
}

.forms input {
	width: 100%;
	margin-bottom: 20px;
}

.forms input[type="text"],
.forms input[type="password"]{
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid #5379fa;
	border-radius: 3px;
	background: transparent;
	height: 30px;
	outline: none;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
}

.forms input[type="submit"]{
	border: 2px solid #fff;
	background: #5379fa;
	cursor: pointer;
	border-radius: 20px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.forms input[type="submit"]:hover {
	opacity: 0.9;
	color: black;
}

.forms input[type="submit"]:active {
	background: blue;
	color: #a18d6c;
	opacity: 0.6;
}

.forms input[type="text"]:focus,
.forms input[type="password"]:focus{
	border: none;
	border-bottom: 2px solid #5379fa;
}

.forms p{
	font-family: 'Exo', sans-serif;
	font-size: 15px;
}

.forms a{
	text-decoration: none;
	color: #5379fa;
}

.navigation {
	position: absolute;
	height: 100%;
	width: 65px;
	background: #f0f0f0;
	padding-top: 30px;
	padding-left: 10px;
	min-width: 60px;
}

.profilePicture {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.navbar-icons {
	margin-top: 10px;
	padding-top: 40px;
}

.nav-icon {
	position: inherit;
	width: 35px;
	height: 35px;
}

.nav-primary{
	margin-bottom: 20px;
}

.nav-secondary {
	margin-top: 100px;
}

.sidenavbar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 65px;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}

.sidenavbar .nav-top {
	padding-top: 35px;
	padding-left: 10px;
	color: white;
	margin-bottom: 15px;
}

.navbar-details {
	padding-top: 40px;
}

.sidenavbar a{
	padding: 8px 0 5px 10px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
    display: block;
    transition: 0.3s;
	margin-bottom: 20px;
}

.sidenavbar-secondary {
	margin-top: 110px;
}
.sidenavbar a:hover {
	color: #f1f1f1;
}

.sidenavbar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 20px;
	margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


::placeholder{
	font-size: 15px;
}
